$background: #111;
$foreground: #fff;
$accent: rgba($foreground,.2);

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Libre Franklin';
  font-size: 16px;
  background: $background;
  color: $foreground;
}

a {
  color: $foreground;
}

img {
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;

  .nav__right a {
    margin-left: 2rem;
  }

  a {
    position: relative;
    text-decoration: none;
    color: $foreground;
    padding-bottom: .25rem;
    &.active {
      border-bottom: 1px solid $accent;
    }
  }
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.blog-post {
  display: flex;
  margin-bottom: 2rem;
  .date {
    p {
      color: $accent;
    }
    margin-right: 1rem;
  }
  a {
    text-decoration: none;
    color: $foreground;
  }
}

.post-body {
  max-width: 40rem;
  &__body {
    margin-top: 1rem;
    color: $accent;
    line-height: 2rem;
    p + * {
      margin-top: 1rem;
    }
  }
}

.photo-post {
  width: 100%;
  margin-bottom: 16px;
  @media screen and (min-width: 600px) {
    max-width: calc(50% - 8px);
  }
  @media screen and (min-width: 1500px) {
    max-width: calc(33% - 8px);
  }
}
